#app.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: "black ops one";
  font-size: 50px;
  font-weight: 400;
}

.start-menu {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

#name-input {
  padding: 5px;
  padding-block: 10px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  border-color: gray;
  transition: 0.3s ease-out;
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
  }
}

.github-btn {
  position: relative;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.github-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/github-logo.svg") center / contain
    no-repeat;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
}

.github-btn:hover::before {
  transform: translate(-50%, -50%) scale(0.7);
}

.github-btn:hover {
  color: transparent;
  background-color: white;
}

.info-btn {
  position: absolute;
  top: 35px;
  right: 25px;
  font-family: "black ops one";
}

.info-btn:hover {
  text-shadow: white 1px 0 10px;
}

.info-btn:hover::after {
  content: "Learn more about Battleship on Wikipedia.";
  position: absolute;
  bottom: 125%;
  left: 50%;
  font-size: 13px;
  font-family: "system-ui", "Merriweather", "Times New Roman", Times, serif;
  font-weight: 500;
  white-space: nowrap;
  padding: 4px 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.45);
  text-shadow: none;
}
